<% @lifehacks.each do |e| %>
    <h1><%= link_to "#{e.title}",lifehack_path(e) %></h1>
    <% if current_user %>
        <% if current_user.id == e.user.id %>
            <%= link_to'投稿を削除する', lifehack_path(e), method: :delete%>
        <%end%>
    <% end %>
    <p>
        <%= image_tag "/get_image/#{e.id}" , :width => '400', :height => '500'%>
    </p>
    <% if current_user %>
        <% if e.likes.count > 0 %>
            <%= link_to '♥', like_path(e), method: :delete %>
            <%= e.likes.count %>
        <% else %>
            <%= link_to '♡', likes_path(lifehack_id: e.id), method: :post %>
            <%= e.likes.count %>
        <% end %>
    <% end %>
   
<% end %>
