<!DOCTYPE html>
<html>
  <head>
    <title>Lifehack-Profile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id = about >
      <div class = inner >
    <p id="alert"><%=  alert %></p>
      
      <h1>
        <h2><%= p "#{@page_title}" %></h2>
      </h1>
      
      <h3><%=link_to "←戻る",'javascript:history.back()' %></h3>
      
      <div class="search-form">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
    
    <div class="button02">
      <%= link_to 'ホーム',root_path %>
      <% if current_user %>
        <%= link_to 'マイページ',profile_path(current_user) %>
        <%= link_to '新規投稿',new_lifehack_path %>
        <%else%>
        <%= link_to 'ログイン',tops_main_path %>
        <%= link_to '新規ユーザ登録',new_user_path %>
      <%end%>
    </div>
    
    <p>
        <h4><%= @user.name %></h4>
        <%= @user.followings.count %>
        <%= link_to "フォロー", follows_user_path(@user.id) %>
        <%= @user.followers.count %>
        <%= link_to "フォロワー", followers_user_path(@user.id) %>
        <%if current_user%>
          <% if current_user.id == @user.id %>
              <%= link_to "マイページ編集", edit_profile_path(@user.id)%>
          <%end%>
        <%end%>
        
        <% if current_user %>
            <% if current_user != @user %>
            <div class="button02">
                <% if @user.followed_by?(current_user) %>
                    <p><%=link_to "フォロー済み", "/users/#{@user.id}/relationships/#{current_user.id}", method: :delete %></p>
                <% else %>
                    <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
                <% end %>
              </div>
            <%end%>
        <%else%>
            <p>このユーザーをフォローするにはログインが必要です</p>
        <%end%>
        
        <h4><%= @user.intro %></h4>
    </p>
    
    <div class="button02">
        <%= link_to 'ライフハック一覧', profile_path(@user.id)%>
        <%= link_to "いいねした投稿", "/users/#{@user.id}/likes/index" %>
        <%= link_to 'マイリスト一覧',user_mylist_names_index_path(@user.id) %>
    </div>
    
    <%= yield %>
    
    <p>
        <% if current_user %>
          <p><%= p "ログイン中です（#{current_user.name}さん）"%></p>
          <div class="button02">
            <%= link_to 'ログアウト',tops_logout_path %>
          </div>
        <% else %>
          <p>ログインしていません</p>
        <% end %>
        <div class="button02">
          <%= link_to 'ユーザ一覧', users_path %>
        </div>
    </p>
     </inner>
    </section>
  </body>
</html>
