<%= stylesheet_link_tag "life/lifehacks", :media => "all" %>


<% @mylist_names.each do |mylist_name| %>
 <div class="content">
    <h1><%= link_to "#{mylist_name.name}",mylist_name_mylist_rels_index_path(mylist_name.id) %></h1>
    <% if current_user %>
        <%= link_to '削除', mylist_name_path(mylist_name.id),method: :delete %>
    <% end %>
    </div>
<%end%>

<% if current_user %>
    <% if current_user.id == @user.id %>
        <%= form_for @mylist_name,url: mylist_names_path, method: :post do |k| %>
                
            <%= k.text_field :name,:placeholder => "新規マイリスト" %>
            <%= k.submit '作成' %>
        <%end%>
    <%end%>
<%end%>