<% @lifehacks.each do |lifehack|  %>
    <% @mylists.each do |mylist| %>
        <% if lifehack.id == mylist.lifehack_id %>
            
            <%=link_to "#{lifehack.user.name}",profile_path(lifehack.user.id) %>
            
            <h1><%= link_to "#{lifehack.title}",lifehack_path(lifehack) %></h1>
                <%= ((Time.current - lifehack.time) / 60).to_i.to_s + "分前" %><br>
            <p>
                <%= image_tag "/get_image/#{lifehack.id}" , :width => '400', :height => '500'%>
            </p>
            <% if current_user %>
            
            <% if lifehack.likes.count > 0 %>
                <%= link_to '♥', like_path(lifehack), method: :delete %>
                <%= lifehack.likes.count %>
            <% else %>
                <%= link_to '♡', likes_path(lifehack_id: lifehack.id), method: :post %>
                <%= lifehack.likes.count %>
              <% end %>
          
          
          <%= link_to 'マイリストから外す', mylist_name_mylist_rel_path(@mylist_name.id,lifehack.id),method: :delete %>
          <%end%>
        <%end%>
    <%end%>
<%end%>
