<h1>フォロワー一覧</h1>
<% @users.each do |user| %>
    <% if current_user %>
        <% if current_user != user %>
            <% if user.followed_by?(current_user) %>
                <p><%= link_to "#{user.name}","/profiles/#{user.id}" %>  <%=link_to "フォロー済み","/users/#{user.id}/relationships/#{current_user.id}", method: :delete %></p>
            <% else %>
                <p><%= link_to "#{user.name}","/profiles/#{user.id}" %>  <%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
            <% end %>
        <% end %>
    <%else%>
        <p><%= link_to "#{user.name}","/profiles/#{user.id}" %>
    <%end%>
<% end %>