<%= stylesheet_link_tag "life/lifehacks", :media => "all" %>
 <div class="content">
<% if @user.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>


<%= form_for @user, url:{action: :create} do |f| %>
    <br>
    <h3>登録に必要な情報を入力してください</h3><br>
    
    <h4><%= f.label(:name ,'名前（ニックネーム）：') %>
        <%= f.text_field(:name) %><br></h4>

    <h4>><%= f.label(:age,'年齢：') %>
        <%= f.number_field(:age) %><br></h4>

    <h4><%=f.label(:gen ,'性別：') %>
        <%= f.radio_button(:gen, "男性") %>
            <%= f.label(:gen, "男性", value: "男性")  %>
        <%= f.radio_button(:gen, "女性") %>
            <%= f.label(:gen, "女性", value: "女性") %></h4>


    <h4><%= f.label(:email ,'メールアドレス：') %>
        <%= f.email_field(:email) %><br></h4>
        <br>
    <h4><%= f.label(:pass ,'パスワード：') %>
        <%= f.password_field(:pass) %></h4>
        
    <%= f.submit '登録' %>
    <br><br>
<% end %>
</div>