<% @lifehacks.each do |e| %>
  <p>
    <%= e.title %>
    <% if current_user %>
      <%= link_to '削除', lifehack_path(e), method: :delete %>
      <%= link_to '表示', lifehack_path(e) %>
      <% if e.likes.count > 0 %>
        <%= link_to '♥', like_path(e), method: :delete %>
        <%= e.likes.count %>
      <% else %>
        <%= link_to '♡', likes_path(lifehack_id: e.id), method: :post %>
        <%= e.likes.count %>
      <% end %>
    <p>
        <%= image_tag "/get_image/#{e.id}" , :width => '400', :height => '500'%>
    </p>
    <% end %>
    </p>
<% end %>
<%= paginate @lifehacks %>

<p> 
<% if current_user %>
  <%= link_to '投稿する', new_lifehack_path %>
<% end %>
</p>
<p>
<% if current_user %>
<%= link_to 'マイページ', "/profiles/#{current_user.id}" %>
<% end %>
</p>
<% if current_user %>
    <p><%= link_to 'ログアウト',tops_logout_path %></p>
<% else %>
    <p><%= link_to 'ログイン' ,tops_main_path %></p>
<% end %>
<p><%= link_to 'ユーザ一覧', users_path %></p>