<h2><%= p "#{@page_title}" %></h2>
<div class="button02">
<%= link_to "いいね順に並べる", like_sort_path %>
</div>

<%= link_to "いいね順に並べる", like_sort_path %>
<%= link_to "フォーローユーザーの投稿", follow_sort_path %>
<% @lifehacks.each do |e| %>
  <p>
    <%=link_to "#{e.user.name}",profile_path(e.user.id) %>
    <h1><%= link_to "#{e.title}",lifehack_path(e) %></h1>
    
    <p><%= image_tag "/get_image/#{e.id}" , :width => '400', :height => '500'%></p>
    <% if current_user %>
      <% if e.liked?(current_user) %>
        <%= link_to '♥', like_path(e), method: :delete %>
        <%= e.likes.count %>
      <% else %>
        <%= link_to '♡', likes_path(lifehack_id: e.id), method: :post %>
        <%= e.likes.count %>
      <% end %>
      
      
      
      <%= form_for @mylist_rel, url: lifehack_mylist_rels_path(e.id), method: :post do |f| %>
        <%= f.label :mylist_name_id,'マイリストに追加' %>
        <%= f.collection_select :mylist_name_id, MylistName.where(user_id: current_user.id), :id, :name %>
        <%= f.submit '追加する' %>
      <%end%>
        
      <%= form_for @mylist_name,url: mylist_names_path, method: :post do |k| %>
      
        <%= k.text_field :name,:placeholder => "新規マイリスト" %>
        <%= k.submit '作成' %>
      <%end%>
      
    <% end %>
    </p>
<% end %>
<%= paginate @lifehacks %>