   
<% if @lifehack.errors.present? %>
    <span style="color:red;">
        <h3>エラーがあります。</h3>
        <ul>
        <% @lifehack.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </span>
<% end %>
<%= form_for @lifehack , url: {action: :create} do |f| %>
<%= f.label :title, 'タイトル' %>
<%= f.text_field :title %>
<%= f.label :exp, '内容' %>
<%= f.text_field :exp %>
<p>
<%= f.label :file, 'ファイル' %>
<%= f.file_field :file %>
</p>
<%= f.submit '投稿する' %>
<% end %>