<%= link_to '←戻る', 'javascript:history.back()' %>
<h1><%= @lifehack.title %></h1>
<p><%= @lifehack.exp %></p>
    <%= ((Time.current - @lifehack.time) / 60).to_i.to_s + "分前" %><br>
<p>
    <%= image_tag "/get_image/#{@lifehack.id}" , :width => '400', :height => '500'%>
</p>
<%= form_with(model:[@lifehack, @comment],url: lifehack_comments_path(@lifehack.id), method: :post) do |f| %>
    <%= f.text_area:comment_content %>
    <%= f.hidden_field :lifehack_id, value: @lifehack.id %>
    <br>
    <%= f.submit 'コメントする' %>
<% end %>
<p>
<% @comments.each do |comment| %>
<br>
<%= comment.comment_content %>
<% end %>
</p>
<p>
    <strong>投稿者:</strong>
    <%= link_to "#{@user.name}",profile_path(@user.id)%>
</p>
<%= form_for @mylist_rel, url: lifehack_mylist_rels_path(@lifehack.id), method: :post do |f| %>
  <%= f.label :mylist_name_id,'マイリストに追加' %>
  <%= f.collection_select :mylist_name_id, MylistName.where(user_id: current_user.id), :id, :name %>
  <%= f.submit '追加する' %>
<% end %>

<%= form_for @mylist_name,url: mylist_names_path, method: :post do |k| %>
    <%= k.text_field :name,:placeholder => "新規マイリスト" %>
    <%= k.submit '作成' %>
<% end %>  
