<h1><%= @lifehack.title %></h1>
<p><%= @lifehack.exp %></p>
<p>
    <strong>ファイル</strong>
</p>
<p>
    <%= image_tag "/get_image/#{@lifehack.id}" , :width => '400', :height => '500'%>
</p>
<%= form_tag(model:[@lifehack, @comment], method: :post) do |f| %>
    <%= f.text_area :comment_content %>
    <%= f.hidden_field :lifehack_id, value: @lifehack.id %>
    <%= f.summit 'コメントする' %>
<% end %>
<p>
    <strong>投稿者:</strong>
    <%= link_to "#{@user.name}",profile_path(@user.id)%>
</p>
<%= link_to 'Back', :back %>