<p>
    <strong>投稿者:</strong>
    <%= "#{current_user.name}" %>
</p>
<p>
    <strong>タイトル：</strong>
    <%= @lifehack.title %>
</p>
<p>
    <strong>内容：</strong>
    <%= @lifehack.exp %>
</p>
<p>
    <strong>ファイル</strong>
</p>
<p>
    <%= image_tag "/get_image/#{@lifehack.id}" , :width => '400', :height => '500'%>
</p>
<%= form_tag(model:[@lifehack, @comment], method: :lifehack) do |f| %>
    <%= f.text_area :comment_content %>
    <%= f.hidden_field :lifehack_id, value: @lifehack.id %>
    <%= f.summit 'コメントする' %>
<% end %>
    
<%= link_to 'Back', :back %>