<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
    <p>
        <% if session[:login_email] %>
          <p><%= p "ログイン中です（#{current_user.name}さん）"%></p>
        <% else %>
          <p>ログインしていません</p>
        <% end %>
    </p>
    
  </body>
</html>
