<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id = about >
      <div class = inner >
        
        <p id="alert"><%=  alert %></p>
        
        <h1>
          <h2><%= p "#{@page_title}" %></h2>
        </h1>
        
        <% unless @page_title == "ホーム" %>
        <h3><%=link_to "←戻る",'javascript:history.back()' %></h3>
        <%end%>
        
        <div class=search-form>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field :keyword, value: @keyword %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
        
        <p>
          <% if current_user %>
          <div class="button02">
            <%= link_to 'ホーム',root_path %>
            
            <%= link_to 'マイページ',profile_path(current_user) %>
            
            <%= link_to '新規投稿',new_lifehack_path %>
          </div>
          <%else%>
          <div class="button02">
            <%= link_to 'ログイン',tops_main_path %>
            <%= link_to '新規ユーザ登録',new_user_path %>
          </div>
          <%end%>
        </p>

          
        <%= yield %>
        <p>
            <% if current_user %>
              <p><%= p "ログイン中です（#{current_user.name}さん）"%></p>
              <div class="button02">
              <%= link_to 'ログアウト',tops_logout_path %>
              </div>
            <% else %>
              <p>ログインしていません</p>
            <% end %>
            <div class="button02">
              <br>
            <%= link_to 'ユーザ一覧', users_path %>
            </div>
        </p>
      </div>
    </section>
    
  </body>
</html>
